:root{
  dark-moss-green: #606c38ff;
  pakistan-green: #283618ff;
  tea-green: #dde56ff;
  salmon: #e28674ff;
  seal-brown: #552716ff;
*{
  font-family: Garamound;
  box-sizing: border-box;
}
body{
  background-color: var(tea-green);
}

h1,h2,h3 {
  color: var(pakistan-green);
}
a {
  text-decoration:none;
  color: var(dark-moss-green);
}
a:hover {
  color:var(salmon);
}
header h2 {
  display: inline-block;
}
  
header {
  position: fixed;
  background-color: var(pakistan-green);
  color: white;
  padding: 20px 0;
}
